@import '../../styles/mixins';

.card {
    position: relative;
    background: linear-gradient(
        var(--gradient-direction),
        var(--cyan-4),
        var(--indigo-4)
    );
    min-width: fit-content;
    display: grid;
    padding: var(--size-1);
    border-radius: var(--border-radius);
    min-width: var(--size-13);

    > div {
        background: var(--brand);

        span {
            display: grid;
            padding: var(--size-3);
            height: 100%;
            align-content: space-between;
            grid-auto-rows: max-content;
            gap: var(--size-4);
        }
    }

    h3 {
        font-size: var(--font-size-3);
        margin: 0;
    }

    &:hover {
        svg {
            path {
                stroke: var(--highlight);
            }
        }
    }

    svg {
        width: var(--size-7);
        justify-self: flex-end;

        path {
            transition: stroke 0.15s ease-in-out;
        }
    }
}

.cardImage {
    position: relative;
    min-width: var(--size-14);

    > div {
        margin-bottom: var(--size-2);
        position: relative;

        a {
            display: flex;
            border: none;
        }

        img {
            object-fit: cover;
            object-position: center;
            aspect-ratio: 16/9;
            max-width: 70rem;
            width: 100%;
        }
    }
}
