@import '../../styles/mixins';

.cards {
    position: relative;
    background: var(--brand);

    .grid {
        display: grid;
        grid-template-columns: repeat(
            auto-fit,
            minmax(min(100%, var(--size-8)), var(--size-14))
        );
        column-gap: var(--size-8);
        row-gap: var(--size-6);

        @include decive-down(mobile) {
            grid-template-columns: 100%;
        }
    }
}

.scrollContainer {
    display: grid;
    position: relative;
    background: var(--brand);
    text-align: start;

    > div {
        display: flex;
        gap: var(--size-6);
        max-width: calc(100vw - var(--size-fluid-4) * 2);
        overflow-x: scroll;
        scroll-padding: 0 50%;
        scroll-snap-type: x mandatory;
        padding: var(--size-2) 0 var(--size-6);
        --scrollbar-foreground: #748ffc;
        --scrollbar-background: var(--color-text);

        /* Foreground, Background */
        scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);

        &::-webkit-scrollbar {
            width: 5px; /* Mostly for vertical scrollbars */
            height: 5px; /* Mostly for horizontal scrollbars */
        }
        &::-webkit-scrollbar-thumb {
            /* Foreground */
            background: var(--scrollbar-foreground);
        }
        &::-webkit-scrollbar-track {
            /* Background */
            background: var(--scrollbar-background);
        }
    }

    * {
        z-index: 2;
    }
}

.oddEven {
    position: relative;
    background: var(--brand);

    * {
        z-index: 2;
    }
    > div:first-of-type {
        display: grid;
        gap: clamp(var(--size-8), 10vw, var(--size-10));
    }
}
.articlePreview {
    display: grid;
    gap: var(--size-4);
}

.headline {
    margin-bottom: 0;

    + p {
        margin-bottom: clamp(var(--size-7), 10vw, var(--size-7));
    }
}
