@import '../../styles/mixins';
.cards {
    position: relative;
    background: var(--brand);

    .headline {
        margin-bottom: 0;
    }

    > p {
        margin-bottom: clamp(var(--size-7), 10vw, var(--size-7));
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(
            auto-fit,
            minmax(min(100%, var(--size-8)), var(--size-14))
        );
        grid-auto-rows: var(--size-12);
        column-gap: var(--size-8);
        row-gap: var(--size-6);

        @include decive-down(mobile) {
            grid-template-columns: 100%;
        }
    }
}
