@import '../../styles/mixins';

.contact {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    justify-content: center;
    padding-block-end: clamp(var(--size-9), 4vw, var(--size-11));

    > div {
        display: flex;
        flex-wrap: wrap;
        gap: var(--size-6);
        > * {
            @include decive-down(tablet) {
                width: 100%;
            }
        }
    }
}
