@import '../../styles/mixins';
.NavbarLinks {
    right: 0;
    top: var(--size-3);

    ul {
        list-style: none;
    }

    li {
        .hide {
            display: none;
        }
    }
    .hide {
        display: none;
    }

    a {
        position: relative;
        display: flex;
        text-transform: capitalize;
        &::after {
            content: '';
            height: 0.1rem;
            width: 100%;
            position: absolute;
            bottom: -0.1rem;
            background-color: var(--highlight);
            opacity: 0;
            transition: opacity 0.2s ease;
        }

        @media (hover: hover) {
            &:hover {
                &::after {
                    opacity: 1;
                }
            }
        }

        &:focus-visible {
            &::after {
                opacity: 1;
            }
        }
    }
}
