@import '../../styles/mixins';
.NavbarLinks {
    position: absolute;
    right: 0;
    top: var(--size-3);
    display: flex;
    gap: var(--size-fluid-3);
    place-items: center;
    z-index: 99;

    a {
        position: relative;
        display: flex;
        &::after {
            content: '';
            height: 0.1rem;
            width: 100%;
            position: absolute;
            bottom: -0.1rem;
            background-color: var(--highlight);
            opacity: 0;
            transition: opacity 0.2s ease;
        }

        &:hover,
        &:focus-visible {
            &::after {
                opacity: 1;
            }
        }
    }
}
