@import '../../styles/mixins';

.landing {
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-rows: repeat(6, 1fr);

    @include decive-down(tablet) {
        grid-template-rows: 14rem auto auto;
    }

    .image {
        background-color: var(--brand);
        background-image: var(--url-img-dark);
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        position: absolute;
        &:nth-of-type(even) {
            background-image: var(--url-img-light);
        }
    }

    > *:first-child {
        grid-row: 3 / span 1;

        @include decive-down(tablet) {
            grid-row: 2 / span 1;
        }
    }

    .descripton {
        max-width: 92ch;
        z-index: 2;

        @include decive-up(tablet) {
            --parallax-y: 0;
            position: fixed;
            transform: translate(0, var(--parallax-y));
            -webkit-transform: translate(0, var(--parallax-y));
        }

        @include decive-down(tablet) {
            width: 77vw;
        }

        h1 {
            line-height: 1.1;
            background: var(--linear-gradient-1) fixed;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            &:last-of-type {
                margin-bottom: 1rem;
            }
        }

        h2 {
            span {
                border: 0;
            }
        }

        span {
            background: var(--linear-gradient-1) fixed;
            margin-top: var(--size-2);
        }

        p {
            color: var(--color-headline);
        }
    }

    @keyframes fadeIn {
        to {
            opacity: 0.6;
        }
    }
}
[data-theme='dark'] {
    .landing {
        .image {
            &:nth-of-type(odd) {
                height: 100vh;
                width: 100vw;
                top: 0;
                left: calc(var(--size-fluid-4) * -1);
                opacity: 0;
                animation: fadeIn 0.6s ease-in-out forwards 0.3s;
                z-index: -1;
                @supports not (-webkit-touch-callout: none) {
                    background-attachment: fixed;
                }
            }
            &:nth-of-type(even) {
                opacity: 0;
                width: 0px;
                position: absolute;
            }
        }
    }
}
[data-theme='light'] {
    .landing {
        .image {
            border-radius: 50%;
            height: clamp(var(--size-14), 60vw, 60rem);
            width: clamp(var(--size-14), 60vw, 60rem);
            grid-row: 2 / span 1;
            background-color: transparent;
            background-position: 0px 50px;

            &:nth-of-type(odd) {
                opacity: 0;
                width: 0px;
                position: absolute;
            }

            @include decive-up(tablet) {
                right: 0;
            }
            @include decive-down(tablet) {
                grid-row: 3;
                position: relative;
            }

            &::before {
                content: '';
                position: absolute;
                height: 80%;
                width: 80%;
                border-radius: 50%;
                background: linear-gradient(
                    var(--indigo-2),
                    var(--indigo-1),
                    var(--gray-2),
                    var(--gray-1)
                );
                z-index: -1;
                left: 50%;
                bottom: -10px;
                transform: translate(-50%, 0);
            }
        }
    }
}
