@import 'mixins';
@import 'normalize';
@import 'colors';
@import 'gradients';
@import 'fonts';
@import 'sizes';
@import 'shadows';
@import 'utils';

:root {
    --border-radius: 4px;
    --nav-height: 8.3rem;

    --brand-light: var(--gray-0);
    --brand-dark: var(--black);
    --linear-gradient-brand: var(--linear-gradient-2) fixed;
    --light-color-headline: var(--gray-0);
    --dark-color-headline: var(--gray-9);
    --light-color-text: var(--gray-5);
    --dark-color-text: var(--gray-8);
    --nav-bg-overlay-dark: rgba(0, 0, 0, 0.801);
    --nav-bg-overlay-light: rgba(248, 249, 250, 0.8);

    --brand: var(--brand-dark);
    --color-headline: var(--light-color-headline);
    --color-text: var(--light-color-text);
    --nav-bg-overlay: var(--nav-bg-overlay-dark);
    --highlight: var(--indigo-4);
    --highlight-lighter: var(--indigo-3);
    --highlight-darker: var(--indigo-5);

    @include decive-down(mobile) {
        --nav-bg-overlay: var(--brand);
    }

    //IOS
    @supports (-webkit-overflow-scrolling: touch) {
        --highlight: var(--blue-4);
        --highlight-lighter: var(--indigo-4);
        --highlight-darker: var(--indigo-8);
    }
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

[data-theme='light'] {
    --brand: var(--brand-light);
    --color-headline: var(--dark-color-headline);
    --color-text: var(--dark-color-text);
    --linear-gradient-brand: var(--linear-gradient-3);
    --nav-bg-overlay: var(--nav-bg-overlay-light);
    --highlight: var(--blue-8);
    --highlight-lighter: var(--indigo-4);
    --highlight-darker: var(--indigo-8);
    --url-img: var(--url-img-light);
    --icon-fill: hsl(210 10% 70%);
    --icon-fill-hover: hsl(210 15% 90%);

    p {
        a {
            color: var(--blue-8);
        }
    }

    @include decive-down(mobile) {
        --nav-bg-overlay: var(--brand);
    }
}

body {
    color: var(--color-headline);
    background-color: var(--brand);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    min-height: 100vh;

    > div {
        display: grid;
        grid-template-columns: var(--size-fluid-4) 1fr var(--size-fluid-4);
        max-width: var(--container-max-width);
        margin: 0 auto;
        min-height: 100vh;
        align-content: space-between;
        margin-top: var(--nav-height);

        > *:is(header, main, footer, div) {
            grid-column: 2;
        }
    }
}

:where(main) {
    @include decive-up(tablet) {
        overflow-x: hidden;
    }

    :where(section) {
        > section {
            &:first-of-type {
                padding-block-start: clamp(var(--size-10), 4vw, var(--size-11));
                padding-block-end: clamp(var(--size-10), 4vw, var(--size-11));
            }
        }

        &:first-of-type {
            padding-block-start: clamp(var(--size-7), 4vw, var(--size-11));
            padding-block-end: clamp(var(--size-10), 8vw, var(--size-12));
        }

        + section {
            padding-block-end: clamp(var(--size-10), 8vw, var(--size-12));
        }
    }
}

::selection {
    background: rgba(255, 255, 255, 0.301);
    color: var(--highlight);
}

p,
li,
a {
    ::selection {
        background: var(--highlight);
        color: var(--dark-color-text);
    }
}

h1,
.h1 {
    font-size: var(--font-size-fluid-4);
}

h2,
.h2 {
    font-size: var(--font-size-fluid-3);

    margin-bottom: clamp(var(--size-7), 10vw, var(--size-7));

    span {
        border-bottom: 5px solid var(--highlight);
    }
}

h3,
.h3 {
    font-size: var(--font-size-5);
    margin-bottom: var(--size-1);

    @include decive-down(tablet) {
        font-size: var(--font-size-4);
        margin-bottom: var(--size-2);
    }
    @include decive-down(mobile) {
        font-size: var(--font-size-3);
    }
}

h4,
.h4 {
    font-size: var(--font-size-3);
}

small,
.small {
    font-size: var(--font-size-0);
}

a {
    text-decoration: none;
    color: inherit;

    &:hover,
    &:focus-visible {
        text-decoration: none;
    }
}

p {
    a {
        color: var(--blue-4);
        text-decoration: underline;

        &:hover,
        &:focus-visible {
            text-decoration: underline;
        }
    }
}

p,
small,
button,
ul,
ol {
    color: var(--color-text);
}

p {
    margin-bottom: 1rem;

    &:last-child {
        margin: 0;
    }
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
