@import 'mixins';
@import 'normalize';
@import 'colors';
@import 'gradients';
@import 'fonts';
@import 'sizes';
@import 'shadows';

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: optional;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
    font-display: optional;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

:root {
    --border-radius: 4px;

    --brand-light: var(--gray-0);
    --brand-dark: var(--black);
    --linear-gradient-brand: var(--linear-gradient-2) fixed;
    --light-color-headline: var(--gray-0);
    --dark-color-headline: var(--gray-9);
    --light-color-text: var(--gray-5);
    --dark-color-text: var(--gray-8);
    --nav-bg-overlay-dark: rgba(0, 0, 0, 0.801);
    --nav-bg-overlay-light: rgba(248, 249, 250, 0.8);

    --brand: var(--brand-dark);
    --color-headline: var(--light-color-headline);
    --color-text: var(--light-color-text);
    --nav-bg-overlay: var(--nav-bg-overlay-dark);
    --highlight: var(--indigo-4);
    --highlight-lighter: var(--indigo-3);
    --highlight-darker: var(--indigo-5);
    --line-height: var(--font-lineheight-4);

    //IOS
    @supports (-webkit-overflow-scrolling: touch) {
        --highlight: var(--blue-4);
        --highlight-lighter: var(--indigo-4);
        --highlight-darker: var(--indigo-8);
    }
}

html {
    box-sizing: border-box;
    font-size: var(--font-size);
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

[data-theme='light'] {
    --brand: var(--brand-light);
    --color-headline: var(--dark-color-headline);
    --color-text: var(--dark-color-text);
    --linear-gradient-brand: var(--linear-gradient-3);
    --nav-bg-overlay: var(--nav-bg-overlay-light);
    --highlight: var(--blue-8);
    --highlight-lighter: var(--indigo-4);
    --highlight-darker: var(--indigo-8);
    --url-img: var(--url-img-light);
    --icon-fill: hsl(210 10% 70%);
    --icon-fill-hover: hsl(210 15% 90%);

    .button {
        --button-color-text: var(--highlight);
        &:hover,
        &:focus-visible {
            --button-color-text: var(--light-color-headline);
        }
    }

    .button-wrapper-border {
        background-attachment: inherit;
    }

    .scroll {
        --scrollbar-foreground: var(--linear-gradient-3);
    }

    .gradient-to-right {
        --linear-gradient-brand: var(--linear-gradient-3-right);
    }

    p {
        a {
            color: var(--blue-8);
        }
    }
}

body {
    color: var(--color-headline);
    background-color: var(--brand);
    font-family: var(--font-family);
    line-height: var(--line-height);
    font-size: var(--font-size-1);
    font-weight: 400;
    /* background-image: url('/images/glasses.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    min-height: 100vh;

    > #__next {
        display: grid;
        grid-template-columns: var(--size-fluid-4) 1fr var(--size-fluid-4);
        max-width: var(--container-max-width);
        margin: 0 auto;
        min-height: 100vh;
        align-content: space-between;

        > *:is(header, main, footer, div) {
            grid-column: 2;
        }
    }
}

:where(main) {
    @include decive-up(tablet) {
        overflow-x: hidden;
    }

    :where(section) {
        > section {
            &:first-of-type {
                padding-block-start: clamp(var(--size-10), 4vw, var(--size-11));
                padding-block-end: clamp(var(--size-10), 4vw, var(--size-11));
            }
        }

        &:first-of-type {
            padding-block-start: clamp(var(--size-9), 4vw, var(--size-11));
            padding-block-end: clamp(var(--size-10), 8vw, var(--size-12));
        }

        + section {
            padding-block-end: clamp(var(--size-10), 8vw, var(--size-12));
        }
    }
}

.gradient-to-right {
    @include decive-up(tablet) {
        --linear-gradient-brand: var(--linear-gradient-2-right);
    }
}

.scroll {
    --scrollbar-foreground: var(--highlight);
    --scrollbar-background: var(--brand);

    /* Foreground, Background */
    scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 4px; /* Mostly for vertical scrollbars */
        height: 4px; /* Mostly for horizontal scrollbars */
    }

    &::-webkit-scrollbar-thumb {
        /* Foreground */
        background: var(--scrollbar-foreground);
    }

    &::-webkit-scrollbar-track {
        /* Background */
        background: var(--scrollbar-background);
    }
}

::selection {
    background: rgba(255, 255, 255, 0.301);
    color: var(--highlight);
}

p,
li,
a {
    ::selection {
        background: var(--highlight);
        color: var(--dark-color-text);
    }
}

h1,
.h1 {
    font-size: var(--font-size-fluid-4);
}

h2,
.h2 {
    font-size: var(--font-size-fluid-3);

    margin-bottom: clamp(var(--size-7), 10vw, var(--size-7));

    span {
        border-bottom: 5px solid var(--highlight);
    }
}

h3,
.h3 {
    font-size: var(--font-size-5);
    margin-bottom: var(--size-1);

    @include decive-down(tablet) {
        font-size: var(--font-size-4);
        margin-bottom: var(--size-2);
        line-height: var(--line-height);
    }
    @include decive-down(mobile) {
        font-size: var(--font-size-3);
    }
}

h4,
.h4 {
    font-size: var(--font-size-3);
}

h2,
h3,
h4,
h5,
h6 {
    &.colored {
        background: var(--linear-gradient-brand) fixed;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @supports (-moz-appearance: none) {
            background: var(--highlight);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    @include decive-down(tablet) {
        line-height: var(--font-lineheight-3);
    }
}

small,
.small {
    font-size: var(--font-size-0);
}

.highlight {
    color: var(--highlight);
}

a {
    text-decoration: none;
    color: inherit;

    &:hover,
    &:focus-visible {
        text-decoration: none;
    }
}

p {
    a {
        color: var(--blue-4);
        text-decoration: underline;

        &:hover,
        &:focus-visible {
            text-decoration: underline;
        }
    }
}

p,
button,
ul,
ol {
    color: var(--color-text);
}

p {
    margin-bottom: 1rem;
}

button {
    font-family: var(--font-family);
    line-height: var(--line-height);
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.button-wrapper-border {
    padding: 0.3rem;
    background: var(--linear-gradient-brand);
    background-attachment: fixed;
    display: inline-flex;
    border-radius: var(--border-radius);
    @supports (-webkit-overflow-scrolling: touch) {
        background-attachment: unset;
        background: var(--linear-gradient-3);
    }
}

.button {
    --button-bg: var(--brand);
    --button-color-text: var(--color-headline);
    box-shadow: var(--shadow-small);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-bg);
    color: var(--button-color-text);
    padding: 0.5em 1em;
    border-radius: var(--border-radius);
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out,
        border 0.15s ease-in-out;
    font-weight: bold;
    min-width: 8.05rem;
    position: relative;
    @include decive-down(tablet) {
        display: flex;
        width: 100%;
    }

    &:hover,
    &:focus-visible {
        --button-bg: transparent;
        --button-border: var(--highlight-darker);
        --button-color-text: var(--dark-color-text);
    }

    &.button-secondary {
        --button-bg: var(--highlight);
        --button-border: var(--highlight);
        --button-color-text: var(--light-color-headline);
        border: 0.3rem solid var(--button-border);

        &:hover,
        &:focus-visible {
            --button-bg: var(--transparent);
            --button-color-text: var(--light-color-headline);
        }
    }

    &.button-third {
        --button-border: var(--highlight);
        border: 0.3rem solid var(--button-border);

        &:hover,
        &:focus-visible {
            --button-bg: var(--highlight);
        }
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
